/*BXHct*/
.bg_BXHct_1{
	background-color:#41586E;
	line-height:30px;
	color:#FFF;
	font-weight: bold;
}
.bg_BXHct_2{
	background-color:#e9e9e9;
	line-height:30px;
	color:#393939;
}
.bg_BXHct_3{
	background-color:#ffffff;
	line-height:27px;
	color:#393939;
}
.BXHct_1{
	width:8%;
	text-align:center;
}
.BXHct_2{
	text-align:left;
	padding-left:8px;
}
.BXHct_3{
	width:5%;
	text-align:center;
	padding: 0 0 0 5px;
}
.BXHct_4{
	width:26%;
	padding-right: 5px;
    text-align: right;
}
.performance {
	color: #fff;
    font-size: 10px;
    border-radius: 3px;
    width: 20px;
}
.Win{
	background-color:#45b800;
	padding: 1px 5px;
}
.Draw{
	background-color:#475577;
	padding: 1px 6px;
}
.Lose{
	background-color:#e25041;
	padding: 1px 6.5px;
}