*{padding:0;margin:0;}
    .myBox{border:1px solid #dfdfdf;border-radius:5px;font-family:arial;margin-left: 10px;margin-top: 10px;margin-bottom: 20px;}
    .boxHeader{width:100%;overflow:hidden;border-bottom:1px solid #dfdfdf;}
    .boxHeader .col-left,.myBox .col-right{float:left;font-size:15px; line-height:1.2em;box-sizing:border-box;}
    .boxHeader .col-left{width:87%;padding:6px 5px;border-right:1px solid #dfdfdf;}
    .boxHeader .col-right{width:60px;}
    .boxHeader .number{text-align: center;margin:5px 5px;display:block;border:1px solid #dfdfdf;}
    .boxButton .addNumber{width:20px;height:20px;cursor:pointer;}
    .boxButton{text-align:right;padding:5px;}
    .content{overflow:hidden;}
    .content .col-left,.content .col-right{float:left;padding:6px 5px;box-sizing:border-box;}
    .content .col-left{width:82%}
    .content .col-right{width:50px;margin-right:5px;}
    .close{border:1px solid #dfdfdf;border-radius:2px;cursor:pointer;float:left;}
    .close-box{position:absolute;top:0;right:-30px;width:30px;margin-top: 57px;margin-right: 74px;}
    .close-box button{width:28px;height:28px;border:1px solid #dfdfdf;}