/************************************************************************
Basic
************************************************************************/
a {
	cursor: pointer;
}
.wrapclear {
	overflow: hidden;
	width: 100%;
}
.wrapcontent {
	overflow: hidden;
	width: 100%;
	position: relative;
}
textarea {
	resize: none;
}
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
img {
	vertical-align: top;
}
.clear {
	float: none;
	clear: both;
}
.absolute {
	position: absolute;
}
.none {
	display: none;
}
.hidden {
	visibility: hidden;
}

.fb {
	font-weight: bold;
}
.fi {
	font-style: italic;
}
.fu {
	text-decoration: underline;
}
.fc {
	text-align: center;
}
.fj {
	text-align: justify;
}
.mt-17 { margin-top: 17px; }