/*************************************************************************
General
************************************************************************/
body {
	behavior: url("library/htc/csshover3.htc");
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

/************************************************************************
| Font
Light: 300
Normal: 400
Medium: 500
Bold: 700
Ultra-bold: 900

| Color
Xanh dương (màu nền): #021F56
Xanh dương (màu chữ): #133465
Xanh dương (màu chữ bài viết chi tiết): #004DBF
Vàng: #FAE209
Xám nền vàng: #313745
Xám: #7A7A7A
************************************************************************/

/************************************************************************
header
************************************************************************/
.header {
	background: white;
    position: fixed;
    width: 100%;
    z-index: 101;
    min-width: 1170px;
    opacity: 0.95;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}
.header_content {
	width: 1170px;
	margin: 0 auto;
	height: 80px;
}
.header #go-to-top {
	background: url("../images/go_to_top.gif") left top no-repeat;
	width: 44px;
	height: 44px;
	position: fixed;
	margin-left: 1175px;
	bottom: 5px;
	text-decoration: none;
	border: solid 1px white;
}
.header #go-to-top:hover {
	background-position: left bottom;
}
.header_content .logo {
	float: left;
	margin-top: 3px;
}
.header_content .logo h1 {
	margin: 0;
}
.header_content .logo .link {
	display: inline-block;
}
.header_content .logo .link .img {
	border: none;
	width: 166px;
}

.header_content .search_tablet {
	border: solid 1px #E6E7E9;
	height: 26px;
	width: 200px;
	margin-top: 26px;
	float: left;
	padding: 0 10px;
	margin-left: 30px;
	padding-right: 0;
	display: none;
	position: relative;
}
.header_content .search_tablet .input {
	float: left;
    border: none;
    width: 174px;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    padding: 0;
    background: none;
}
.header_content .search_tablet .button {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	background: white;
	padding: 5px;
}
.header_content .search_tablet .button .img {
	width: 16px;
	height: 16px;
}

.header_content .menu_tablet {
	display: none;
	width: 284px;
	height: 42px;
	border: solid 1px #E6E7E9;
	float: right;
	margin-top: 20px;
	background: url("../images/menu_tablet.gif") right 16px center no-repeat;
	padding: 0 18px;
	line-height: 42px;
	cursor: pointer;
	color: #133465;
	font-size: 15px;
	font-weight: 500;
	position: relative;
}
.header_content .menu_tablet .sub {
	position: absolute;
	border: solid 1px #F5F5F5;
	width: 100%;
	top: 42px;
	left: -1px;
	z-index: 100;
	background: white;
	display: none;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.header_content .menu_tablet .sub .link {
	display: block;
	padding: 0 16px;
	color: #133465;
	text-decoration: none;
}
.header_content .menu_tablet .sub .link:hover,
.header_content .menu_tablet .sub .link_active {
	background: #FAE209;
}

.header_content .slogan_hotline {
	position: relative;
}
.header_content .slogan {
	float: left;
	margin-left: 3px;
	width: 700px;
	line-height: 79px;
	font-size: 28px;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
	background: white;
	text-align: center;
	background: #F9F9F9;
	color: #133465;
}
.header_content .hotline {
	background: white;
	position: absolute;
	right: 0;
	width: 274px;
	height: 79px;
	line-height: 79px;
	text-align: center;
	color: red;
	font-size: 22px;
	font-weight: 700;
	background: url("../images/header_hotline.png") #F9F9F9 left center no-repeat;
	padding-left: 27px;
    text-shadow: 1px 1px rgba(152, 152, 152, 0.8);
}

/************************************************************************
menu_search
************************************************************************/
.menu_search {
	background: rgba(2, 31, 86, 0.8);
	padding-top: 80px;
	min-width: 1170px;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.menu_search_content {
	width: 1170px;
	margin: 0 auto;
	height: 40px;
}
.menu_search .menu {
	float: left;
	font-size: 13px;
	font-weight: bold;
}
.menu_search .menu .each {
	float: left;
	background: url("../images/menu_each.gif") right center no-repeat;
	padding-right: 1px;
}
.menu_search .menu .each .link {
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	color: white;
	display: inline-block;
	text-decoration: none;
}
.menu_search .menu .each .link:hover,
.menu_search .menu .each .link_active {
	color: #133465;
    background: #FAE209;
}
.menu_search .search {
	border: solid 1px #E6E7E9;
	height: 26px;
	width: 250px;
	margin-top: 6px;
	float: right;
	padding: 0 10px;
	padding-right: 0;
	position: relative;
}
.menu_search .search .input {
	float: left;
	border: none;
	width: 234px;
	height: 26px;
	line-height: 26px;
	font-size: 13px;
	padding: 0;
	background: none;
	color: white;
}
.menu_search .search .button {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	background: white;
	padding: 5px;
}
.menu_search .search .button .img {
	width: 16px;
	height: 16px;
}

/************************************************************************
main
************************************************************************/
.main {
	padding: 26px 0 32px;
	min-width: 1170px;
}
.main_content {
	width: 1170px;
	margin: 0 auto;
	position: relative;
}
.main .left {
	float: left;
	width: 894px;
}

.main .left .slide {
	position: relative;
	top: 0px;
	left: 0px;
	width: 894px;
	height: 358px;
}
.main .left .slide .slides {
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 894px;
	height: 358px;
}
.main .left .slide .jssora05l {
	background: url("../images/main_left_slide_jssora05l.png") left top no-repeat;
	width: 22px;
	height: 40px;
	top: 145px;
	left: 15px;
	position: absolute;
	cursor: pointer;
}
.main .left .slide .jssora05l:hover {
	background-position: left bottom;
}
.main .left .slide .jssora05r {
	background: url("../images/main_left_slide_jssora05r.png") left top no-repeat;
	width: 22px;
	height: 40px;
	top: 145px;
	right: 15px;
	position: absolute;
	cursor: pointer;
}
.main .left .slide .jssora05r:hover {
	background-position: left bottom;
}
.main .left .slide .jssorb10_m {
	bottom: 17px;
	right: 10px;
}

.main .left .title {
	background: url("../images/header.gif");
	padding: 10px 15px;
	color: white;
	font-size: 19px;
	font-weight: 700;
	display: block;
	text-decoration: none;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
	position: relative;
}
.main .left .title .link {
	color: white;
	text-decoration: none;
}
.main .left .title .link:hover {
	color: #FAE209;
}
.main .left .title1 {
	background: #EBEBEB;
	padding: 10px 15px;
	color: #133465;
	font-size: 19px;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.main .left .title1_detail {
	text-align: center;
}
.main .left .title1 h1 {
	font-weight: 400;
	margin: 0;
	font-size: 19px;
}

.main .left .empty {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

.main .left .list .content .each {
	float: left;
	width: 274px;
	border: solid 1px #E6E6E6;
	border-bottom: none;
	position: relative;
	margin-top: 28px;
	margin-right: 33px;
	padding-bottom: 36px;
}
.main .left .list .content .each:hover {
	outline-color: #FAE209;	
    outline-style: solid;
    border-color: #FAE209;
}
.main .left .list .content .each3 {
	margin-right: 0;
}
.main .left .list .content .each .image .link {
	width: 274px;
	height: 206px;
	position: relative;
	display: block;
}
.main .left .list .content .each .image .link .img {
	max-width: 274px;
	max-height: 206px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.main .left .list .content .each .image .link .pro_number{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: auto;
	z-index:100;
	background:#fae209;
	width: 60px;
    height: 32px;
    font-size: 14px;
   
}
.main .left .list .content .each .image .link .pro_number p{
	z-index:101;
	color:#133465;
	text-align:center;
	font-weight: 500;
	position: absolute;
	top: -6px;
    right: 16px;
    
	
}

.product_slide .slider1_container .pro_number{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: auto;
	z-index:100;
	background:#fae209;
	width: 60px;
    height: 32px;
    font-size: 14px;
   
}
.product_slide .slider1_container .pro_number p{
	z-index:101;
	color:#133465;
	text-align:center;
	font-weight: 500;
	position: absolute;
	top: -6px;
    right: 16px;
    
	
}

.main .left .list .content .each .new {
	margin: 6px 12px 0;
	height: 14px;
}
.main .left .list .content .each .new .label {
	background: #FAE209;
	color: #133465;
	font-size: 9px;
	border-radius: 2px;
	width: 37px;
	line-height: 14px;
	height: 14px;
	display: inline-block;
	text-align: center;
}
.main .left .list .content .each .each_title {
	font-size: 14px;
	font-weight: 500;
	margin: 5px 12px 0;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}
.main .left .list .content .each .each_title h2 {
	font-size: 14px;
	font-weight: 500;
	margin: 0;
}
.main .left .list .content .each .each_title h2 .link {
	color: #133465;
	text-decoration: none;
}
.main .left .list .content .each .each_title h2 .link:hover {
	text-decoration: underline;
}
.main .left .list .content .each .code {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 173px;
	height: 31px;
	line-height: 31px;
	background: #FAE209;
	padding-left: 13px;
}
.main .left .list .content .each .code .hl {
	color: #133465;
}
.main .left .list .content .each .more {
	background: url("../images/main_left_list_each_more.png") #021F56 18px center no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 62px;
	height: 31px;
	line-height: 31px;
	padding-left: 32px;
	color: white;
	text-decoration: none;
}
.main .left .list .content .each .more:hover {
	color: #FAE209;
}

.main .left .detail .content {
	font-size: 15px;
	line-height: 24px;
}
.main .left .detail .content h1 {
	font-size: 23px;
	font-weight: 700;
	color: #133465;
	margin: 26px 0 16px;
}
.main .left .detail .content .summary {
	color: #313745;
	font-weight: 500;
	margin: 16px 0;
}

.main .left .detail .content .user {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.main .left .detail .content a {
	text-decoration: none;
	color: #004DBF;
	font-weight: bold;
}
.main .left .detail .content a:hover {
	color: #FAE209;
}
.main .left .detail .content .user img {
	max-width: 100%;
	height: auto !important;
}

.main .left .tags {
	margin-top: 10px;
}
.main .left .tags .each {
	float: left;
	margin-right: 10px;
	margin-bottom: 4px;
	background: #E2E2E2;
    color: #133465;
    border-radius: 2px;
    padding: 0 10px;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
}
.main .left .tags .each:hover {
	background: #FAE209;
}

.main .left .comment {
	margin-top: 10px;
}
.main .left .comment .c_title {
	background: url("../images/header.gif");
	height: 35px;
	line-height: 35px;
	padding-left: 12px;
	color: white;
	font-size: 14px;
}
.main .left .comment .c_title .text {
    float: left;
	font-size: 14px;
	font-weight: 700;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.main .left .comment .c_title .date {
	background: url("../images/main_left_comment_date.png") rgba(255, 255, 255, 0.15) right 8px center no-repeat;
    float: right;
    padding: 0 36px 0 13px;
}
.main .left .comment .c_title .date .hl {
	font-weight: 700;
}
.main .left .comment .c_title .share {
	float: right;
}
.main .left .comment .c_title .share .each {
	float: left;
	margin-right: 23px;
}
.main .left .comment .c_title .share .each_facebook {
	background: url("../images/main_left_comment_share_each_facebook.png") left top no-repeat;
	width: 9px;
	height: 17px;
	margin-top: 10px;
}
.main .left .comment .c_title .share .each_facebook:hover {
	background-position: left bottom;
}
.main .left .comment .c_title .share .each_twitter {
	background: url("../images/main_left_comment_share_each_twitter.png") left top no-repeat;
	width: 17px;
	height: 14px;
	margin-top: 12px;
}
.main .left .comment .c_title .share .each_twitter:hover {
	background-position: left bottom;
}
.main .left .comment .c_title .share .each_google_plus {
	background: url("../images/main_left_comment_share_each_google_plus.png") left top no-repeat;
	width: 16px;
	height: 16px;
	margin-top: 11px;
}
.main .left .comment .c_title .share .each_google_plus:hover {
	background-position: left bottom;
}
.main .left .comment .box {
	margin-top: 17px;
}

.main .left .news .each {
	padding: 26px 0;
	border-bottom: solid 1px #8F8F8F;
}
.main .left .news .each_first {
	padding-top: 15px;
}
.main .left .news .each_first .image {
	position: relative;
}
.main .left .news .each_first .image .link {
	display: inline-block;
}
.main .left .news .each_first .image .link .img {
	width: 100%;
	max-height: 411px;
}
.main .left .news .each_first .image .date {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 36px 0 13px;
	background: url("../images/main_left_news_each_first_image_date.gif") #1775BC right center no-repeat;
	height: 35px;
    line-height: 35px;
    padding-left: 12px;
    color: white;
    font-size: 14px;
}
.main .left .news .each_first .image .date .hl {
	font-weight: 700;
}
.main .left .news .each_first .n_title {
	margin-top: 10px;
	font-size: 23px;
	font-weight: 700;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.main .left .news .each_first .n_title h2 {
	font-size: 23px;
	font-weight: 700;
	margin: 0;
}
.main .left .news .each_first .n_title .link {
	color: #767676;
	text-decoration: none;
}
.main .left .news .each_first .n_title .link:hover {
	color: #133465;
}
.main .left .news .each_first .summary {
	margin-top: 10px;
	font-size: 15px;
	line-height: 20px;
	color: #767676;
}
.main .left .news .each_first .control {
	margin-top: 10px;
	font-size: 13px;
}
.main .left .news .each_first .control .view {
	float: left;
	background: url("../images/main_left_news_view.gif") left center no-repeat;
	line-height: 15px;
	color: #313745;
	padding-left: 29px;
	margin-right: 23px;
}
.main .left .news .each_first .control .n_comment {
	float: left;
	background: url("../images/main_left_news_comment.gif") left center no-repeat;
	line-height: 15px;
	color: #313745;
	padding-left: 22px;
}
.main .left .news .each_first .control .more {
	float: right;
	background: url("../images/main_left_news_more.gif") right center no-repeat;
	line-height: 15px;
	padding-right: 10px;
}
.main .left .news .each_first .control .more .link {
	line-height: 15px;
	color: #B8B8B8;
	text-decoration: none;
}
.main .left .news .each_first .control .more .link:hover {
	color: #1775BC;
}
.main .left .news .each_more .image {
	float: left;
	width: 50%;
	position: relative;
	max-width: 401px;
	max-height: 200px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.main .left .news .each_more .image .link {
	display: inline-block;
}
.main .left .news .each_more .image .link .img {
	width: 100%;
	height: 100%;
}
.main .left .news .each_more .image .date {
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 36px 0 13px;
	background: url("../images/main_left_news_each_more_image_date.png") #1775BC right center no-repeat;
	height: 31px;
    line-height: 31px;
    padding-left: 9px;
    color: white;
    font-size: 12px;
}
.main .left .news .each_more .image .date .hl {
	font-weight: 700;
}
.main .left .news .each_more .n_title {
	font-size: 18px;
	line-height: 25px;
	font-weight: 700;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.main .left .news .each_more .n_title h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 0;
}
.main .left .news .each_more .n_title .link {
	color: #767676;
	text-decoration: none;
}
.main .left .news .each_more .n_title .link:hover {
	color: #133465;
}
.main .left .news .each_more .summary {
	margin-top: 10px;
	font-size: 15px;
	line-height: 20px;
	color: #767676;
}
.main .left .news .each_more .more {
	margin-top: 16px;
	background: url("../images/main_left_news_more.gif") right center no-repeat;
	padding-right: 10px;
	display: inline-block;
}
.main .left .news .each_more .more .link {
	line-height: 15px;
	color: #B8B8B8;
	text-decoration: none;
}
.main .left .news .each_more .more .link:hover {
	color: #1775BC;
}
.main .left .news .each_more .control {
	margin-top: 16px;
	font-size: 13px;
}
.main .left .news .each_more .control .view {
	float: left;
	background: url("../images/main_left_news_view.gif") left center no-repeat;
	line-height: 15px;
	color: #313745;
	padding-left: 29px;
	margin-right: 23px;
}
.main .left .news .each_more .control .n_comment {
	float: left;
	background: url("../images/main_left_news_comment.gif") left center no-repeat;
	line-height: 15px;
	color: #313745;
	padding-left: 22px;
}

.main .left .news .paging {
	margin-top: 21px;
}
.main .left .news .paging .p_each {
	float: left;
	margin-right: 11px;
	text-decoration: none;
	display: inline-block;
	width: 26px;
	height: 26px;
	background: url("../images/main_left_news_paging_each.png") left top no-repeat;
	color: #133465;
	text-align: center;
	line-height: 26px;
}
.main .left .news .paging .p_each:hover,
.main .left .news .paging .p_each_active {
	background-position: left bottom;
	color: white;
}
.main .left .news .paging .p_each_prev {
	background-image: url("../images/main_left_news_paging_each_prev.png");
}
.main .left .news .paging .p_each_next {
	background-image: url("../images/main_left_news_paging_each_next.png");
}

.main .left .agency .each {
	margin-top: 22px;
}
.main .left .agency .each .image {
	float: left;
	border: solid 1px #DADADA;
	margin-right: 18px;
}
.main .left .agency .each .image .link {
	display: block;
	position: relative;
	width: 188px;
	height: 86px;
}
.main .left .agency .each .image .link .img {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.main .left .agency .each .inf {
	background: #F4F4F4;
	padding: 10px 26px;
	display: table;
}
.main .left .agency .each .inf .name {
	color: #133465;
	font-size: 18px;
	font-weight: 700;
}
.main .left .agency .each .inf .inf_content {
	margin-top: 6px;
	line-height: 20px;
}
.main .left .agency .more {
	text-align: center;
	margin-top: 50px;
}
.main .left .agency .more .link {
	display: inline-block;
	background: url("../images/main_left_agency_more_link.gif") left bottom no-repeat;
	width: 155px;
	padding-bottom: 28px;
	text-decoration: none;
	color: #0D0D0D;
}
.main .left .agency .more .link:hover {
	color: #133465;
}

.main .left .contact .map {
	margin-top: 9px;
	height: 295px;
    position: relative;
}
.main .left .contact .social {
	float: right;
	margin-top: 40px;
}
.main .left .contact .social .each {
	float: left;
	display: inline-block;
	background: left top no-repeat;
	width: 31px;
	height: 30px;
	margin-right: 6px;
}
.main .left .contact .social .each:hover {
	background-position: left bottom;
}
.main .left .contact .social .each_facebook {
	background-image: url("../images/contact_social_each_facebook.png");
}
.main .left .contact .social .each_twitter {
	background-image: url("../images/contact_social_each_twitter.png");
}
.main .left .contact .social .each_skype {
	background-image: url("../images/contact_social_each_skype.png");
}
.main .left .contact .social .each_google_plus {
	background-image: url("../images/contact_social_each_google_plus.png");
}
.main .left .contact .social .each_youtube {
	background-image: url("../images/contact_social_each_youtube.png");
}
.main .left .contact .social .each_feed {
	background-image: url("../images/contact_social_each_feed.png");
}
.main .left .contact .information {
	margin-top: 40px;
	float: left;
	max-width: 475px;
	font-size: 14px;
}
.main .left .contact .information .i_title {
	color: #133465;
	font-size: 16px;
	font-weight: 700;
}
.main .left .contact .information .content {
	margin-top: 16px;
	color: #313745;
}
.main .left .contact .information .content .address {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/main_left_contact_information_content_address.gif") left top no-repeat;
	line-height: 17px;
}
.main .left .contact .information .content .tel {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/main_left_contact_information_content_tel.gif") 3px top no-repeat;
	font-size: 17px;
	font-weight: 700;
}
.main .left .contact .information .content .website {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/main_left_contact_information_content_website.gif") 1px top no-repeat;
}
.main .left .contact .information .content .website .link {
	color: #313745;
	text-decoration: none;
}
.main .left .contact .information .content .website .link:hover {
	color: #1775BC;
}
.main .left .contact .information .content .mail {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/main_left_contact_information_content_mail.gif") 2px top no-repeat;
}
.main .left .contact .information .content .mail .link {
	color: #313745;
	text-decoration: none;
}
.main .left .contact .information .content .mail .link:hover {
	color: #1775BC;
}
.main .left .contact .form {
	margin-top: 35px;
}
.main .left .contact .form .each {
	margin-bottom: 13px;
}
.main .left .contact .form .each .input_text {
	border: solid 1px #CDCDCD;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	width: 207px;
	float: left;
	margin-right: 10px;
}
.main .left .contact .form .each .input_text_1 {
	width: 241px;
}
.main .left .contact .form .each .input_text_2 {
	width: 304px;
}
.main .left .contact .form .each .input_text_3 {
	width: 144px;
}
.main .left .contact .form .each .input_text:focus {
	border-color: #1775BC;
}
.main .left .contact .form .each .textarea {
	width: 480px;
	border: solid 1px #CDCDCD;
	height: 86px;
	padding: 5px 10px;
}
.main .left .contact .form .each .textarea:focus {
	border-color: #1775BC;
}
.main .left .contact .form .button .link {
	background: #1775BC;
	width: 94px;
	height: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	display: inline-block;
}
.main .left .contact .form .button .link:hover {
	background: #FAE209;
}

.main .left .product {
	margin-top: 14px;
}

.main .left .product .product_slide {
	width: 381px;
	height: 286px;
	float: left;
	margin-right: 28px;
	border: solid 1px #DADADA;
	margin-bottom: 100px;
}
.main .left .product .product_slide .slider1_container {
	width: 381px;
	height: 286px;
	position: relative;
}
.main .left .product .product_slide .slides {
	cursor: move;
	position: absolute;
	overflow: hidden;
	left: 0px;
	top: 0px;
	width: 381px;
	height: 286px;
}
.main .left .product .product_slide .slides .u {
	max-width: 100%;
	height: auto !important;
	right: 0;
	bottom: 0;
	margin: auto;
}
.main .left .product .product_slide .jssora05l_m {
	background: url("../images/main_left_slide_jssora05l_m.png") left top no-repeat;
	width: 23px;
	height: 23px;
	top: 145px;
	left: 15px;
	position: absolute;
	cursor: pointer;
}
.main .left .product .product_slide .jssora05l_m:hover {
	background-position: left bottom;
}
.main .left .product .product_slide .jssora05r_m {
	background: url("../images/main_left_slide_jssora05r_m.png") left top no-repeat;
	width: 23px;
	height: 23px;
	top: 145px;
	right: 15px;
	position: absolute;
	cursor: pointer;
}
.main .left .product .product_slide .jssora05r_m:hover {
	background-position: left bottom;
}
.main .left .product .product_slide .jssorb10_m {
	bottom: 17px;
	right: 10px;
}

.main .left .product .inf {
	display: table;
}
.main .left .product .inf .code {
	color: #B5B5B5;
	font-size: 11px;
}
.main .left .product .inf .code .hl {
	color: #767676;
}
.main .left .product .inf .star_title {
	color: #313745;
	font-size: 18px;
	font-weight: 500;
	margin-top: 10px;
	float: left;
}
.main .left .product .inf .star {
	margin-top: 11px;
    float: left;
    margin-left: 20px;
}
.main .left .product .inf .star .each {
	float: left;
	background: url("../images/main_left_product_inf_star_each.gif") left top no-repeat;
	width: 17px;
	height: 16px;
	margin-right: 1px;
}
.main .left .product .inf .star .each:hover,
.main .left .product .inf .star .each_active {
	background-position: left bottom;
}
.main .left .product .inf .star .text {
	float: left;
	margin-left: 8px;
	line-height: 12px;
	color: #A8A8A8;
	font-size: 11px;
	font-style: italic;
	margin-top: 4px;
}
.main .left .product .inf .share {
	margin-top: 10px;
}
.main .left .product .inf .p_detail_title {
	color: #313745;
	font-size: 18px;
	font-weight: 500;
	border-bottom: solid 1px #8B8B8B;
	padding-bottom: 4px;
}
.main .left .product .inf .p_detail {
	margin-top: 10px;
}
.main .left .product .inf .p_detail p {
	margin-top: 0;
}

.main .right {
	float: right;
	width: 245px;
}
.main .right_fixed {
	position: fixed;
	margin-left: 925px;
}
.main .right_bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	top: auto !important;
}
.main .right .block {
	margin-bottom: 14px;
}
.main .right .block_last {
	margin-bottom: 0;
}
.main .right .block .title {
	background: #FAE209;
	padding: 12px 15px;
	font-weight: 700;
	font-size: 14px;
	color: #313745;
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.main .right .block .title_category {
	background: url("../images/main_right_title_category.gif") #FAE209 right 16px center no-repeat;
}

.main .right .content_category {
	font-family: 'UVN Viet Sach', Arial, Helvetica, sans-serif;
}
.main .right .content_category .each {
	margin-top: 5px;
}
.main .right .content_category .each h2 {
	margin: 5px 0 0;
}
.main .right .content_category .each h3 {
	margin: 5px 0 0;
}
.main .right .content_category .each .parent {
	background: url("../images/header.gif");
	padding: 7px 15px;
	color: white;
	font-size: 13px;
	display: block;
	text-decoration: none;
	font-weight: 400;
}
.main .right .content_category .each .parent:hover {
	color: #FAE209;
}
.main .right .content_category .each .child_wrap {
	border-right: solid 1px #DEDEDE;
	border-bottom: solid 1px #DEDEDE;
	border-left: solid 1px #DEDEDE;
	padding: 0 7px;
}
.main .right .content_category .each .child {
	position: relative;
}
.main .right .content_category .each .child h3 {
	margin: 0;
}
.main .right .content_category .each .child .link {
	padding: 8px 0 8px 28px;
	display: block;
	background: url("../images/main_right_content_category_child.gif") 9px 11px no-repeat;
	border-bottom: solid 1px #EDEDED;
	text-decoration: none;
	color: #838383;
	font-size: 15px;
	font-weight: 400;
}
.main .right .content_category .each .child .link:hover {
	background-image: url("../images/main_right_content_category_child_hover.gif");
	color: #133465;
}
.main .right .content_category .each .child .link_last {
	border-bottom: none;
}
.main .right .content_category .each .child .sub {
	position: absolute;
	width: 178px;
	left: -193px;
	background: #133465;
	padding-right: 8px;
	top: 0;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.1s linear 0.2s, opacity 0.1s linear 0.2s;
}
.main .right .content_category .each .child:hover .sub {
	visibility: visible;
  	opacity: 1;
	transition-delay: 0s;
}
.main .right .content_category .each .child .sub_content {
	border: solid 1px #DADADA;
	padding: 0 4px;
	background: white;
}
.main .right .content_category .each .child .sub_content h3 {
	margin: 0;
}
.main .right .content_category .each .child .sub .sub_each {
	padding: 8px 0 8px 16px;
	display: block;
	border-bottom: solid 1px #EDEDED;
	text-decoration: none;
	color: #838383;
	font-size: 13px;
	font-weight: 400;
}
.main .right .content_category .each .child .sub .sub_each:hover {
	color: #133465;
}
.main .right .content_category .each .child .sub .sub_each_last {
	border-bottom: none;
}

.main .right .content_online_support {
	border-right: solid 1px #DEDEDE;
	border-bottom: solid 1px #DEDEDE;
	border-left: solid 1px #DEDEDE;
	padding: 0 7px;
}
.main .right .content_online_support .each {
	padding: 8px 9px 8px 35px;
	border-bottom: solid 1px #EDEDED;
	font-size: 14px;
	color: #838383;
}
.main .right .content_online_support .each_chat {
	background: url("../images/main_right_content_online_support_each_chat.gif") 9px 14px no-repeat;
	line-height: 29px;
}
.main .right .content_online_support .each_hotline {
	background: url("../images/main_right_content_online_support_each_hotline.gif") 9px 11px no-repeat;
	line-height: 25px;
	border-bottom: none;
}
.main .right .content_online_support .each .name {
	float: left;
}
.main .right .content_online_support .each .nick {
	float: right;
}
.main .right .content_online_support .each .nick .child {
	float: left;
	margin-right: 4px;
	display: inline-block;
}
.main .right .content_online_support .each .nick .child .img {
	border: none;
}
.main .right .content_online_support .each .nick .child_last {
	margin-right: 0;
}
.main .right .content_online_support .each .tel {
	float: right;
	font-weight: 700;
	color: #133465;
	font-size: 20px;
}

.main .right .content_social {
	margin-top: 4px;
	min-height: 214px;
	overflow-x: hidden;
	text-align: center;
}

.main .right .content_statistic {
	border-right: solid 1px #DEDEDE;
	border-bottom: solid 1px #DEDEDE;
	border-left: solid 1px #DEDEDE;
	padding: 0 7px;
}
.main .right .content_statistic .each {
	padding: 8px 9px 8px 35px;
	border-bottom: solid 1px #EDEDED;
	font-size: 14px;
	color: #838383;
}
.main .right .content_statistic .each_user_online {
	background: url("../images/main_right_content_statistic_each_user_online.gif") 9px 11px no-repeat;
	line-height: 25px;
}
.main .right .content_statistic .each_history {
	background: url("../images/main_right_content_statistic_each_history.gif") 9px 11px no-repeat;
	line-height: 25px;
	border-bottom: none;
}
.main .right .content_statistic .each .name {
	float: left;
}
.main .right .content_statistic .each .number {
	float: right;
	font-weight: 700;
	color: #133465;
}

/************************************************************************
partner
************************************************************************/
.partner {
	min-width: 1170px;
	margin-bottom: 6px;
}
.partner_content {
	width: 1168px;
	margin: 0 auto;
	border: solid 1px #E6E6E6;
}
.partner .slide {
	position: relative;
	top: 0px;
	left: 0px;
	width: 1168px;
	height: 134px;
	overflow: hidden;
}
.partner .slide .slides {
	cursor: move;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1168px;
	height: 134px;
	overflow: hidden;
}
.partner .slide .jssora09l {
	left: 8px;
}
.partner .slide .jssora09r {
	right: 8px;
}

/************************************************************************
footer
************************************************************************/
.footer {
	background: url("../images/header.gif");
	min-width: 1170px;
}
.footer_content {
	width: 1170px;
	margin: 0 auto;
	color: white;
}
.footer .information {
	float: left;
	width: 438px;
	border-right: solid 1px #223B6B;
	padding: 38px 10px 38px 0;
	font-size: 14px;
}
.footer .information .title {
	color: #FAE209;
	font-size: 16px;
	font-weight: 700;
}
.footer .information .content {
	margin-top: 16px;
}
.footer .information .content .address {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/footer_information_address.png") left top no-repeat;
	line-height: 17px;
}
.footer .information .content .tel {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/footer_information_tel.png") 3px top no-repeat;
	font-size: 17px;
	font-weight: 700;
}
.footer .information .content .website {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/footer_information_website.png") 1px top no-repeat;
}
.footer .information .content .website .link {
	color: white;
	text-decoration: none;
}
.footer .information .content .website .link:hover {
	color: #FAE209;
}
.footer .information .content .mail {
	margin-top: 10px;
	padding-left: 30px;
	background: url("../images/footer_information_mail.png") 2px top no-repeat;
}
.footer .information .content .mail .link {
	color: white;
	text-decoration: none;
}
.footer .information .content .mail .link:hover {
	color: #FAE209;
}
.footer .newsletter {
	float: left;
	width: 263px;
	padding: 38px 30px 38px 26px;
}
.footer .newsletter .title {
	font-size: 15px;
	font-weight: 700;
}
.footer .newsletter .content {
	margin-top: 16px;
}
.footer .newsletter .content .input {
	width: 180px;
	border: none;
	background: white;
	height: 32px;
	line-height: 32px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 0 10px;
	float: left;
}
.footer .newsletter .content .button {
	float: left;
	width: 63px;
	background: #0D0D0D;
	color: white;
	height: 32px;
	line-height: 32px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.footer .newsletter .social {
	margin-top: 42px;
}
.footer .newsletter .social .each {
	float: left;
	display: inline-block;
	background: left top no-repeat;
	width: 31px;
	height: 30px;
	margin-right: 6px;
}
.footer .newsletter .social .each:hover {
	background-position: left bottom;
}
.footer .newsletter .social .each_facebook {
	background-image: url("../images/social_each_facebook.png");
}
.footer .newsletter .social .each_twitter {
	background-image: url("../images/social_each_twitter.png");
}
.footer .newsletter .social .each_skype {
	background-image: url("../images/social_each_skype.png");
}
.footer .newsletter .social .each_google_plus {
	background-image: url("../images/social_each_google_plus.png");
}
.footer .newsletter .social .each_youtube {
	background-image: url("../images/social_each_youtube.png");
}
.footer .newsletter .social .each_feed {
	background-image: url("../images/social_each_feed.png");
}
.footer .map {
	float: left;
	width: 402px;
	min-height: 231px;
	position: relative;
}
.footer .map iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

/************************************************************************
copyright
************************************************************************/
.copyright {
	min-width: 1170px;
	padding: 10px 0 20px;
	color: #7A7A7A;
	text-align: center;
	font-size: 13px;
	font-weight: 300;
	background: black;
}
.copyright .hl {
	font-weight: 500;
}
.copyright .link {
	font-weight: 500;
	text-decoration: none;
	color: #7A7A7A;
}
.copyright .link:hover {
	text-decoration: underline;
}
/************************************************************************
search 
************************************************************************/
.read_search{background: #1775BC;
    width: 94px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
    float:right;
    margin:5px 5px;
   }
.read_search a{ color:#fff;
text-decoration:none;}
.read_search:hover{background: #FAE209;}

.share .fb-like{
	width: 100px; 
	float: left;
	margin-right: 42px;
}