@font-face {
    font-family: 'UVN Viet Sach';
    src: url('fonts/UTM Neo Sans Intel.eot');
    src: local('UTM Neo Sans Intel'), 
    url('fonts/UVNVietSach.woff') format('woff'), 
    url('fonts/UVNVietSach.TTF') format('truetype'), 
    url('fonts/UVNVietSach.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}