/************************************************************************
left
************************************************************************/
.icl_name {
	/*background: url("../images/icon/icl_name.png") left center no-repeat;*/
	padding-left: 20px;
}

/************************************************************************
right
************************************************************************/
.icr_name {
	/*background: url("../images/icon/ic_arrow_right.png") right center no-repeat;*/
	padding-right: 20px;
}
