html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
	color: #000;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
    content: '';
    content: none;
}
img, p, ul{
	border:0px;
}
img{
	max-width:100%;
	height:auto;
}
ul,ol{
	list-style:none;	
}
select,input{
	outline:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
	text-decoration: none;
}
a:active, a:focus,a:hover{
     outline:none;
     text-decoration:none;
}
.clear{
	clear:both;
}
.clearfix:before,
.clearfix:after ,
.row-fluid-container:before,
.row-fluid-container:after{
    content:"";
    display:table;
}
.clearfix:after,.row-fluid-container:after {
    clear:both;
}
.clearfix,.row-fluid-container {
    *zoom:1;
}