@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 1024px){
	.float_banner_left,.float_banner_right{
		display:none;
	}
	#header .header-container,.row-fluid-spacing,.row-fluid-container,.row-fluid-title-inner{
		width:auto;
		padding-left:20px;
		padding-right:20px;
	}
}  
@media screen and (max-width: 900px){
	#header .nav{
		display:none;
	}
	.menu-toogle{
		display:block;
	}
	#header .quick-search{
		float:left;
		margin-left:10px;
	}	
}
@media screen and (max-width: 768px){
	.td-block-1 .grid .item{
		width: 48.282611%;
	}
}
@media screen and (max-width: 640px){
	
}
@media screen and (max-width: 540px){

}
@media screen and (max-width: 480px){
	
	
}
@media screen and (max-width: 320px){
	
}
