@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.TTF') format('truetype'),
  url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.h25{
	margin-bottom:25px;
}
body {
	font-family: "Roboto",Arial, Helvetica, sans-serif;
	color: #58595b;
	font-size:14px;
}
#header-top{
    background-color: #f7f7f7;
    height: 28px;
    overflow: hidden;
}
.toplist .item{
	float:left;
	margin-left:30px;
	line-height:28px;
}
.toplist .item a{
	color:#000
}
.toplist .item .icon{
	margin-right:5px;
	vertical-align:baseline;
}
.header-main-inner{
	/* background-color: #182b77; */
	height: 96px;
	width: 100%;
}
#logo{
	padding:10px;
}
#logo img{
	/* height:50px; */
}
.quick-search{
	margin-top: 30px;
}
.quick-search .form-control{
	border:0;
	box-shadow:none !important;
}
.quick-search button{
	border:0;
	float: right;
	background: none !important;
}
.quick-search .input-group{
	border: 1px solid #e8017b;
	border-radius: 3px;
	width: 500px;
}
.head-user{
	margin-top: 30px;
	margin-left: 60px;
}
.head-user .btn-shoppingcart{
	float:left;
	background: #e8017b;
	padding: 9px 15px 10px;
	color: #fff;
	border-radius: 3px;
}
.head-user .btn-favorite{
	float:left;
	margin-left:30px;
	background: #e8017b;
	padding: 9px 15px 10px;
	color: #fff;
	border-radius: 3px;
}
#navigation{
	height:36px;
	background-color: #e8017b;
}
.td-block-menu{
	background: #FFFFFF;
	margin-top: -36px;
	position: relative;
	z-index: 2;
	/* border: 1px solid #902973; */
}
.td-block-menu .block-title{
	font-size: 13px;
	line-height:1.25em;
	font-weight:600;
	color: #fff;
	text-transform:uppercase;
	padding: 9px 0 10px 10px;
	border-bottom: 1px solid #eaeaea;
	background-color: #e8017b;
}
.td-block-menu .td-block-container{
	border: 1px solid #e8017b;
	border-top:0;
}
.td-block-menu .block-title .icon{
	margin-right: 7px;
}
.td-block-menu-hover{
	border: 0;
	position:relative;
}
.td-block-menu-hover .td-block-container{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	background-color:#fff;
	
	margin-top: -1px;
}
.td-block-menu-hover:hover .td-block-container{
	display:block;
}
.menu-list .item{
	font-size:14px;
	line-height:1.25em;
	position:relative;
	/* text-transform:uppercase; */
}
.menu-list .item+.item{
	border-top: 1px solid #eaeaea;
}
.menu-list .item>a{
	display:block;
	padding: 7px 15px 7px 10px;
}
.menu-list .item:hover>a,.menu-list .c-giaynam:hover>a{
	background-color:#F09745;
	color:#fff;
}
.menu-list .c-giaynu:hover>a{
	background-color:#FF4F66;
	color:#fff;
}
.menu-list .c-giaythethao:hover>a{
	background-color:#1593EA;
	color:#fff;
}
.menu-list .c-giaycasual:hover>a{
	background-color:#64CA42;
	color:#fff;
}
.menu-list .c-giayluoi:hover>a{
	background-color:#00B9B2;
	color:#fff;
}
.menu-list .item>a>.icon{
	display:inline-block;
	width: 22px;
	height: 22px;
	margin-right: 7px;
	vertical-align:middle;
	background:url(../images/xam_giaynam.png) no-repeat 0 0;
	background-size: cover;
}
.menu-list-1{
	position:absolute;
	z-index:1;
	margin-left:1px;
	left:100%;
	top: 0;
	background-color:#fff;
	min-width:160px;
	display: none;
}
.c-giaynam .menu-list-1{
	border-left:3px solid #F09745
}

.c-giaynu .menu-list-1{
	border-left:3px solid #FF4F66
}
.c-giaythethao .menu-list-1{
	border-left:3px solid #1593EA
}
.c-giaycasual .menu-list-1{
	border-left:3px solid #64CA42
}
.c-giayluoi .menu-list-1{
	border-left:3px solid #00B9B2
}
.menu-list-1 .item-1{
	white-space:nowrap;
}
.menu-list-1 .item-1 a{
	display: block;
    padding: 0 15px 0 10px;
    height:36px;
    line-height:36px;
}
.c-giaynam .menu-list-1 .item-1 a:hover{
	color:#fff;
	background-color:#F09745
}
.c-giaynu .menu-list-1 .item-1 a:hover{
	color:#fff;
	background-color:#FF4F66
}
.c-giaythethao .menu-list-1 .item-1 a:hover{
	color:#fff;
	background-color:#1593EA
}
.c-giaycasual .menu-list-1 .item-1 a:hover{
	color:#fff;
	background-color:#64CA42
}
.c-giayluoi .menu-list-1 .item-1 a:hover{
	background-color:#00B9B2;
	color:#fff;
}
.menu-list .item:hover .menu-list-1{
	display:block;
}
#main .row{
	margin-bottom: 40px;
}
.td-block-slider{
	/* margin-bottom:25px; */
	position:relative;
	margin-top: 10px;
}
.owl-theme .owl-controls{
	position:absolute;
	bottom:10px;
	width:100%;
	z-index:2;
}
.block-featured-header{
	/* background-color: #f7f7f7; */
	/* margin-bottom:20px; */
	/* overflow:hidden; */
	/* border-top: 2px solid #902973; */
}
.block-featured-header .block-title,.td-block-sale .block-title{
	/* width:50%; */
	/* float:left; */
	padding-top:10px;
	padding-bottom:10px;
	text-transform:uppercase;
	font-size: 19px;
	padding-left:7px;
	background-color: #f7f7f7;
	margin-bottom: 20px;
	overflow: hidden;
	border-top: 2px solid #e8017b;
}
.products-list{
	font-size:0;
	line-height:0;
	margin-right:-15px;
	margin-bottom: -15px;
}
.products-list .item{
	display:inline-block;
	width: 25%;
	vertical-align:top;
	font-size:14px;
	line-height:1.25em;
	padding-right: 15px;
	margin-bottom: 15px;
}
.products-list .item-inner{
	border:1px solid #ddd;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	position: relative;
}
.products-list .item-inner:hover{
	border-color:#AE2886;
}
.products-list .item .thumbs-wrap{
	position:relative;
	overflow: hidden;
}
.products-list .item .thumbs-wrap img,.news-list .thumbs-wrap img{
	width:100%;
}
.news-list .item-news{
	margin:0 10px;
} 
.area-favorite{
	position:absolute;
	bottom:-26px;
	left:0;
	right:0;
	background-color: #e8017b;
	color:#fff;
	text-align:center;
	height:26px;
	line-height:26px;
	opacity: 0;
	transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
}
.area-favorite i{
	margin-right:5px;
	vertical-align:-1px;
}
.products-list .item-inner:hover .area-favorite{
	opacity: 1;
	bottom:0;
}
.products-list .item .meta{
	padding:5px;
}
.products-list .item .entry-price,.products-list .item .entry-name{
	margin-bottom:5px;
	overflow:hidden;
}
.products-list .item .entry-name{
	display:block;
	    text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.products-list .item .price-sale{
	font-weight:bold;
	color:#F00;
	float:left;
}
.products-list .item .price-sale-off{
	text-decoration:line-through;
	color:#505050;
	float:right;
	font-size:12px;
}
.td-block-products{
	/* margin-right:-15px; */
}
.td-block-news,.td-block-featured{
	margin-bottom:30px;
}
.td-block-products .td-block-header,.td-block-news .td-block-header{
	border-top: 2px solid #e8017b;
	padding-right:15px;
	margin-bottom: 20px;
	overflow: hidden;
}
.td-block-products .td-block-container{
	padding-right:15px;
	margin-right: -15px;
}
.td-block-products .block-title,.td-block-news .block-title{
	background-color: #e8017b;
	height:39px;
	color: #fff;
	line-height:39px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	font-size: 19px;
	float:left;
	position: relative;
	margin-right: 40px;
	z-index: 1;
}
.td-block-products .block-title:after,.td-block-news .block-title:after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	right: -10px;
	height:0;
	border-top:19px solid transparent;
	border-left: 10px solid #e8017b;
	border-bottom: 20px solid transparent;
}
.td-block-products .nav-tabs{
	overflow:hidden;
	border-bottom: 0;
}
.td-block-products .nav-tabs li{
	display:inline-block;
}
.td-block-products .nav-tabs li+li{
	border-top:1px solid #ddd;
	margin-left: 25px;
}
.td-block-products .nav-tabs>li>a{
	margin:0;
	border:0 !important;
	background: none !important;
	padding: 0;
	line-height: 39px;
}
.products-style-1{
	margin-right:0;
}
.products-style-1 .block-title{
	margin-bottom:20px;
}
.products-style-1 .td-block-container{
	width:100%;
	/* margin-right: -15px; */
	padding-right: 0;
}
.products-style-1 .products-list .item{
	width:20%;
}
.td-block-sale{
	/* background-color: #f7f7f7; */
	height: 725px;
	/* margin-bottom: 25px; */
	overflow: hidden;
}
.td-block-sale .mCustomScroll{
	height:725px;
	overflow:hidden;
}
.td-block-sale .mCustomScroll .mCSB_scrollTools{
	border:0;
}
.td-block-sale .mCustomScroll .mCSB_dragger_bar{
	opacity:0;
}
.td-block-sale:hover .mCustomScroll .mCSB_dragger_bar{
	opacity:1;
}
.sale-list .sale-item{
	overflow:hidden;
}
.sale-list .sale-item+.sale-item{
	margin-top: 19px;
}
.sale-list .entry-thumbs{
	width:90px;
	height:90px;
	float:left;
	overflow:hidden;
	margin-right:5px;
}
.sale-list .sale-item .entry-name{
	font-size:15px;
	line-height:1.3em;
	margin-bottom:5px;
}
.sale-list .sale-item .price-sale{
	font-weight:bold;
	color:#F00;
	float:left;
	font-size: 13px;
}
.stick-label{
	background-color: #fff;
    font-size: 13px;
    color: #e5101d;
    text-align: center;
    font-weight: 300;
    position: absolute;
    width: 52px;
    height: 22px;
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid #e5101d;
    right: 5px;
    top: 5px
}
.products-list-1 .item{
	width:50%;
}
.products-list-2 .item{
	width:33.3333333333%;
}
.td-block-ads img{
	width:100%;
	height:630px;
}
.item-news a{
	font-size:16px;
	line-height:1.2em;
	color: #58595b;
}
.td-widget-sale{
	margin-bottom: 35px;
	height:auto;
}
.td-filter-cate ul{
	overflow:hidden;
	margin-bottom: 25px;

}
.td-filter-cate li{
	float:left;
	font-size: 18px;
	border:1px solid #aaa;
	white-space: nowrap;
	padding: 10px 25px;
}
.td-filter-cate li+li{	
	border-left:0;
}
.td-filter-cate li span{
	cursor:pointer;
	margin-right: 7px;
	color:#58595b;
	/* display:block; */
	/* padding:10px 25px; */
}
.td-filter-cate li i{
	vertical-align: middle;
	margin-top: -4px;
	color:#aaa;
	font-size: 15px;
}
.td-filter-cate li:hover,.td-filter-cate .active{
	background-color: #e8017b;
}
.td-filter-cate li:hover span,.td-filter-cate .active span{
	color: #fff;
}
#footer .footer-inner{
	 /* background-color: #f7f7f7; */
	 padding-top: 20px;
	 padding-bottom: 20px;
}
footer {
    color: #6D6E70;
    background-color: #E0E0E0;
    /* margin-left: -30px; */
    /* margin-right: -30px; */
    font-size: 14px;
    line-height: 1.3em;
}
footer .heading {
    color: #fc3d35;
    margin-bottom: 10px;
}
footer .cate a {
    color: inherit;
    display: block;
    line-height: 24px;
}
footer .subscribe .text {
    margin: 15px 0;
}
footer .subscribe .input-group-btn .btn {
    background-color: #fc3d35;
    border: none;
    color: #FFF;
    margin: 0;
    border-radius: 0;
    height: 34px;
    width: 40px;
}
.td-block-ads.ads-right{
	margin-left:-15px;
}
.td-block-ads.ads-left{
	margin-right:-15px;
}
.post-content-container{
	border:1px solid #ddd;
	border-top:0;
	margin-bottom: 20px;
}
.post-content-container .tab-pane{
	padding:20px;
	font-size:16px;
	line-height:1.3em;
}
.post-content-container .tab-pane p{
	margin-bottom:15px;
}
.post-info-img{
	float:left;
	width: 45%;
	margin-bottom:20px;
}
.post-info-container{
	overflow:hidden;
	padding-left:20px;
}
.post-info-container .entry-title{
	font-size:30px;
	margin-bottom:15px;
}
.post-info-container .price-code{
	font-size:16px;
	margin-bottom:15px;
}
.post-info-container .price-code span{
	font-weight:700;
	margin-left:5px;
}
.post-info-container .price-sale{
	font-size: 21px;
	margin-bottom:15px;
	font-weight:700;
	color:#ff0000;
	margin-right: 20px;
}
.post-info-container .price-sale-off{
	    text-decoration: line-through;
}
.add-to-cart{
	background-color: #ef1f21 !important;
	border:0;
	border-radius:0;
	color:#fff !important;
	font-size:16px;
	line-height:1.3em;
	padding: 10px 10px;
}
.btn-buynow{
	background-color: #029900 !important;
	border:0;
	border-radius:0;
	color:#fff !important;
	font-size:16px;
	line-height:1.3em;
	padding: 10px 10px;
}
.btn-likes{
	background-color: #902973 !important;
	border:0;
	border-radius:0;
	color:#fff !important;
	font-size:16px;
	line-height:1.3em;
	padding: 10px 10px;
}
.add-to-cart:hover{
	background-color: #d2181a !important;
}
.add-to-cart i{
	margin-right:5px;
}
.thums-list{
	overflow:hidden;
	margin-right:-5px;
	margin-top:10px;
}
.thums-list li{
	float:left;
	width:25%;
	padding-right:5px;
}
.post-content .nav-tabs a{
	text-transform:uppercase;
	font-size:16px;
}

.box-attributes{
	font-size:16px;
	line-height:1.3em;
	margin-bottom:15px;
	margin-top: 22px;
}

.box-attributes .attrs{
	margin-bottom: 25px;
}
.box-attributes .lb{

}
.box-attributes .lb{
	font-weight:700;
	/* float:left; */
	margin-right: 15px;
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.color-list{
	overflow:hidden;
	display: inline-block;
	vertical-align: top;
}
.color-list .item-color{
	float:left;
	text-align:center;
}
.color-list .item-color .name-color{
	display:block;
}
.yellow .display-color{
	background-color:yellow !important;
}
.color-list .item-color .display-color{
	border: 1px solid #ccc;
	background: #F2F2F2;
	height: 35px;
	line-height: 35px;
	text-align:center;
	min-width: 35px;
	display:inline-block;
	cursor: pointer;
	position: relative;
}
.size-list{
	/* overflow:hidden; */
	display: inline-block;
	vertical-align: middle;
}
.size-list .item-size{
	float:left;
	border: 1px solid #ccc;
	padding:1px;
	background: #F2F2F2;
	height: 35px;
	line-height: 35px;
	text-align:center;
	min-width: 35px;
	margin-right:10px;
	cursor: pointer;
	position:relative;
}
.size-list .item-size:hover,.color-list .item-color .display-color:hover,.size-list .selected,.color-list .selected .display-color{
	border-color:#902973;
	border-width:2px;
	padding:0;
}
.triangle-bottom{
	height:0;
	width:0;
	overflow: hidden;
	border-top: 8px solid transparent;
	border-bottom: 8px solid red;
	border-right: 8px solid red;
	border-left: 8px solid transparent;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	display:none;
}
.size-list .item-size .glyphicon-ok,.display-color .glyphicon-ok{
	font-size: 7px;
	line-height: 0;
	position: absolute;
	bottom: 5px;
	display: block;
	right: 1px;
	top: auto;
	color: #fff;
	display:none;
}
.size-list .item-size.selected .glyphicon-ok,.size-list .item-size.selected .triangle-bottom,.color-list .selected .glyphicon-ok,.color-list .selected .triangle-bottom{
	display:block;
}
.quality .sl{
	display: inline-block;
	vertical-align: middle;
	position:relative;
}
.add-qty,.sub-qty {
    position: absolute;
    top: 0;
    left: 105px;
    background-color: #f1f1f1;
    height: 18px;
    width: 18px;
    cursor: pointer;
    display: block;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
}
.sub-qty{
	top:auto;
	bottom:0;
}
.inpt-qty{
	border: 1px solid #ddd;
    height: 35px;
    width: 122px;
    text-align: center;
    padding: 0 5px;
    font-size: 16px;
}
.inpt-qty::-webkit-inner-spin-button, 
.inpt-qty::-webkit-outer-spin-button { 
  	-webkit-appearance: none; 
  	margin: 0; 
}
.login-block .login-ext {
    overflow: hidden;
    /* line-height: 30px; */
    padding: 10px 0;
}
.login-ext strong {
    display: inline-block;
    white-space: nowrap;
    font-weight: 700;
}
.login-ext .ic-login {
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.login-block .login-form {
    padding: 5px 0;
}
.login-block .login-form label {
    display: block;
    position: relative;
    line-height: 34px;
}
.login-block .login-form label.lb-pass:before, .login-block .login-form label.lb-username:before {
    content: '';
    background: url('//static.scdn.vn/images/ecom/ic-sprites.png') no-repeat 0 -486px;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
}
.login-block .login-form label input {
    height: 34px;
    /* width: 228px; */
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding-left: 25px;
}
.login-block .login-form label.lb-pass {
    margin-top: 10px;
}
.login-block .login-form label.lb-pass:before {
    background-position: -28px -486px;
}
.login-block .login-form label.lb-qmk {
    text-align: right;
    line-height: 24px;
    padding-top: 5px;
}
.login-block .login-form label a {
    color: #e5101d;
}
.login-block .a-signup {
    padding: 10px 0;
    line-height: 20px;
    font-size: 12px;
}
.login-block .a-signup .dkn {
    color: #e5101d;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;
}
.login-block form > button {
    background: #e5101d;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    line-height: 28px;
    border: solid #e5101d 1px;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.login-social {
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    padding-bottom: 10px;
}
.login-social .lbl {
    line-height: 30px;
    margin-right: 10px;
}
.login-social span,.login-social a {
    display: inline-block;
    font-size: 13px;
    white-space: nowrap;
}
.login-social a strong {
    color: #e5101d;
}
.login-social .break-login-social {
    line-height: 30px;
}
.main-login .b-email {
    margin-top: 15px;
}
.main-login > div > input {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid #c9c9c9;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    padding-left: 25px;
    font-size: 13px;
    border-radius: 2px;
}
.modal .error, .modal .login_error, .modal .register_error {
    color: #e5101d;
    font-size: 12px;
    font-style: italic;
    display: none;
    line-height: 18px;
    margin-top: 5px;
}
.main-login > div {
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}
.main-login .b-name input{
	width:49%;
	float:left;
}
.main-login .b-name input:first-child{
	margin-right:2%;
}
.main-login .b-catpcha #catpcha_input {
    width: 150px;
    display: inline-block;
}
.product_in_order .title {
    width: 100%;
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    background: #f4f4f4;
}
.product_in_order .sl, .product_in_order .gt, .product_in_order .tt, .product_in_order .opt, .product_in_order .sp {
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
}
.product_in_order .sp {
    width: 50%;
}
.product_in_order .sl {
    text-align: center;
    width: 14%;
    position: relative;
}
.product_in_order .gt, .product_in_order .tt {
    width: 20%;
    text-align: right;
    color: #333;
}
.product_in_order .gt .price {
    font-weight: 700;
}
.product_in_order .opt {
    width: 14%;
    text-align: right;
}
.product_in_order .product_box {
    width: 100%;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
}
.product_in_order .product_box .img_product .img {
    float: left;
    border: 1px #CCC solid;
}
.product_in_order .product_box .img_product .img a {
    display: block;
}
.product_in_order .product_box .img_product .img img {
    display: block;
    margin: 0 auto;
}
.product_in_order .sl input {
    width: 40px;
    background-color: #fff;
    height: 30px;
    border: 1px solid #ccc;
    padding: 2px;
    text-align: center;
}
.img_product .name_attr {
    margin-left: 85px;
}
.img_product .name_attr .name {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.img_product .name_attr .name a {
    color: #333;
    font-size: 13px;
    line-height: 17px;
    max-height: 34px;
    overflow: hidden;
}
.img_product .name_attr .attr {
    margin-top: 5px;
}
.img_product .name_attr .attr dl {
    height: 32px;
    line-height: 32px;
}
.img_product .name_attr .attr dl dt {
    display: inline-block;
    width: 80px;
    line-height: 25px;
    font-size: 12px;
}
.img_product .name_attr .attr dl dd {
    display: inline-block;
    cursor: pointer;
}
.img_product .name_attr .attr dl dd .attri {
    border: 1px solid #ccc;
    display: block;
    height: 28px;
    min-width: 28px;
    line-height: 28px;
    padding: 0 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.product_in_order .product_box .box-update-sl {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 1px 1px 4px #ccc;
    min-width: 230px;
    display: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
.product_in_order .product_box .box-update-sl {
    display: block;
}
.product_box .box-update-sl .sub-btn, .product_box .box-update-sl .add-btn {
    float: left;
    background: #eaeaea;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}
.product_box .box-update-sl .cart-qty {
    height: 26px;
    line-height: 26px;
    width: 40px;
    border: 1px solid #eaeaea;
    float: left;
    border-radius: 0;
}
.product_box .box-update-sl .btn-update {
    border: 1px solid #eaeaea;
    padding: 0 10px;
    display: block;
    margin: 0 auto;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-left: 10px;
    font-size: 11px;
    color: #666;
    background: #F7F7F7;
}
.product_box .box-update-sl .huy {
    color: #999;
    text-decoration: underline;
    cursor: pointer;
    float: right;
    font-size: 11px;
}
.pp-shopping-cart .cart-payment {
    padding: 10px 15% 10px 10px;
    overflow: hidden;
}
.cart-payment .cart-total {
    float: right;
    padding-right: 0;
}
.cart-payment .cart-total li {
    overflow: initial;
    margin: 5px 0;
    padding: 0;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}
.cart-payment .cart-total li .label {
    text-align: right;
    display: inline-block;
    height: 30px;
    font-size: 14px;
    color: #000;
}
.cart-payment .cart-total li .red {
    color: #e5101d;
}
.cart-payment .cart-total li .price {
    font-weight: bold;
    text-align: right;
    display: inline-block;
    font-size: 14px;
    float: right;
}
.cart-total .cart-total-btn .btn-pay {
    color: #fff;
    font-size: 14px;
    line-height: 32px;
    height: 32px;
    padding: 0 82px;
    background-color: #e5101d;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
    font-weight: bold;
    white-space: nowrap;
    float: right;
}
.td-search-result .products-list .item{
	width:20%
}
.td-search-result .block-title h1{
	color:#e5101d;
	display:inline;
	margin-right:10px;
}
.td-search-result .block-title span{
	text-transform:none;
	font-size:15px;
}
.td-search-result .block-title strong{
	font-weight:700;
	font-size: 19px;
}
#content h2,#content h1{
	font-size:30px;
	margin-bottom:20px;
	text-transform:uppercase;
}
#content ul{
	margin-bottom:30px;
}
#content ul li{
	margin-bottom:10px;
}
#content ul li a{
	color:#333;
}
#content ul li a:hover{
	text-decoration:underline;
}
#content legend{
	    margin-bottom: 20px;
    font-size: 21px;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom:10px;
}
.box-heading {
    text-transform: uppercase;
    margin: 0px;
    font-weight: 700;
    position: relative;
    background: #D6DF27;
    display: block;
}
.box-heading span {
    padding: 15px 25px;
    display:block;
    line-height: 20px;
    font-size: 18px;
    color: #AE2886;
}

.btn-outline {
    color: white !important;
    background-color: #902973;
    border-color: #AE2886;
}
#content p{
	margin-bottom:15px;
	font-size:16px;
	line-height:20px;
}
.owl-page{
	display:inline-block;
	width:20px;
	height:20px;
	background-color: #e8017b;
	border-radius:50%;
	margin:0 5px;
	border: 2px solid #e8017b;
}
.owl-page.active{
	border: 2px solid #e8017b;
	background-color:#fff;
}
#sync2 .item{
	border:3px solid #fff;
}
/*tin tÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©c*/
.td-block-news .box-feartures{
	float:left;
	width:49%;
}
.td-block-news .box-aside{
	float:right;
	width:49%;
}
.box-feartures .entry-title{
	margin-bottom:5px;
}
.box-feartures .entry-title a{
	font-size:20px;
	line-height:1.3em;
	color:#333;

}
.box-feartures .entry-des{
	font-size:15px;
	line-height:1.3em;
}
.aside-list .item{
	margin-bottom:15px;
	overflow:hidden;
}
.aside-list .item .thumbs-wrap{
	width: 90px;
    height: 70px;
    float: left;
    overflow: hidden;
    margin-right: 8px;
}
.aside-list .item .entry-title a{
	font-size:16px;
	line-height:1.3em;
	color:#333;
}
.td-block-news-small .box-aside{
	width:100%;
	float:none;
}
.td-block-news-small .td-block-header{
	border:none;
}
.td-block-news-small .aside-list .item .entry-title{
	margin-bottom:3px;
}
.post-news{
	margin-bottom:30px;
	padding-bottom:10px;
}
.post-news .post-news-title{
	font-size:22px;
	line-height:1.3em;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px solid #C1C1C1;
}
.post-news-body p{
	font-size:16px;
	line-height:1.3em;
	margin-bottom:15px;
}
.post-news-tags a{
	margin-right:10px;
	display:inline-block;
}
.post-news-tags a:hover{
	text-decoration:underline;
}