.fb-comments {
	width: 100% !important;
}
.fb-comments iframe[style] {
	width: 100% !important;
}
.fb-like-box {
	width: 100% !important;
}
.fb-like-box iframe[style] {
	width: 100% !important;
}
.fb-comments span {
	width: 100% !important;
}
.fb-comments iframe span[style] {
	width: 100% !important;
}
.fb-like-box span {
	width: 100% !important;
}
.fb-like-box iframe span[style] {
	width: 100% !important;
}

/************************************************************************
te_name ---tn---
************************************************************************/
.te_name {
	
}

/* jssor slider bullet navigator skin 10 css */
/*
.jssorb10_m div           (normal)
.jssorb10_m div:hover     (normal mouseover)
.jssorb10_m .av           (active)
.jssorb10_m .av:hover     (active mouseover)
.jssorb10_m .dn           (mousedown)
*/
.jssorb10_m {
	position: absolute;
}
.jssorb10_m div, .jssorb10_m div:hover, .jssorb10_m .av {
	position: absolute;
	/* size of bullet elment */
	width: 13px;
	height: 13px;
	background: url(../images/tem/b10_m.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb10_m div { background-position: left top; }
.jssorb10_m div:hover, .jssorb10_m .av:hover { background-position: left bottom; }
.jssorb10_m .av { background-position: left bottom; }
.jssorb10_m .dn, .jssorb10_m .dn:hover { background-position: left bottom; }



/* jssor slider arrow navigator skin 09 css */
/*
.jssora09l                  (normal)
.jssora09r                  (normal)
.jssora09l:hover            (normal mouseover)
.jssora09r:hover            (normal mouseover)
.jssora09l.jssora09ldn      (mousedown)
.jssora09r.jssora09rdn      (mousedown)
*/
.jssora09l, .jssora09r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: url(../images/tem/a09.png) no-repeat;
	overflow: hidden;
	opacity: .4;
	filter: alpha(opacity=40);
}
.jssora09l { background-position: -5px -35px; }
.jssora09r { background-position: -65px -35px; }
.jssora09l:hover { background-position: -5px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09r:hover { background-position: -65px -35px; opacity: .8; filter:alpha(opacity=80); }
.jssora09l.jssora09ldn { background-position: -5px -35px; opacity: .3; filter:alpha(opacity=30); }
.jssora09r.jssora09rdn { background-position: -65px -35px; opacity: .3; filter:alpha(opacity=30); }

/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l                  (normal)
.jssora11r                  (normal)
.jssora11l:hover            (normal mouseover)
.jssora11r:hover            (normal mouseover)
.jssora11l.jssora11ldn      (mousedown)
.jssora11r.jssora11rdn      (mousedown)
*/
.jssora11l, .jssora11r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 37px;
	height: 37px;
	cursor: pointer;
	background: url(../images/tem/a11.png) no-repeat;
	overflow: hidden;
}

.jssora11l {
	background-position: -11px -41px;
}

.jssora11r {
	background-position: -71px -41px;
}

.jssora11l:hover {
	background-position: -131px -41px;
}

.jssora11r:hover {
	background-position: -191px -41px;
}

.jssora11l.jssora11ldn {
	background-position: -251px -41px;
}

.jssora11r.jssora11rdn {
	background-position: -311px -41px;
}



/* jssor slider thumbnail navigator skin 07 css */
/*
.jssort07_m .p            (normal)
.jssort07_m .p:hover      (normal mouseover)
.jssort07_m .pav          (active)
.jssort07_m .pav:hover    (active mouseover)
.jssort07_m .pdn          (mousedown)
*/
.jssort07_m {
	position: absolute;
	/* size of thumbnail navigator container */
	width: 381px;
	height: 90px;
	left: 0px;
	bottom: -100px;
}

	.jssort07_m .p {
		position: absolute;
		top: 0;
		left: 0;
		width: 120px;
		height: 90px;
	}

	.jssort07_m .i {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0;
		bottom: 0;
		margin: auto;
		max-width: 100%;
		filter: alpha(opacity=80);
		opacity: .8;
	}

	.jssort07_m .p:hover .i, .jssort07_m .pav .i {
		filter: alpha(opacity=100);
		opacity: 1;
	}

	.jssort07_m .o {
		position: absolute;
		top: 0px;
		left: 1px;
		width: 118px;
		height: 88px;
		border: 1px solid #A2A2A2;
		box-sizing: content-box;
		transition: border-color .6s;
		-moz-transition: border-color .6s;
		-webkit-transition: border-color .6s;
		-o-transition: border-color .6s;
	}

	.jssort07_m .pav .o {
		border-color: #0099ff;
	}

	.jssort07_m .p:hover .o {
		border-color: #dadada;
		transition: none;
		-moz-transition: none;
		-webkit-transition: none;
		-o-transition: none;
	}

	.jssort07_m .p.pdn .o {
		border-color: #0099ff;
	}

	* html .jssort07_m .o {
		/* ie quirks mode adjust */
		width /**/: 120px;
		height /**/: 90px;
	}
