/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/*
 * LAYOUT VARIABLES
 */
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/* RIGHT TO LEFT */
/* line 8, ../development/scss/pavproducttabs.scss */
.producttabs ul:after, .producttabs ul:before {
  content: none;
}
/* line 11, ../development/scss/pavproducttabs.scss */
.producttabs .box-heading {
  padding: 0;
  background: #e4cb72;
}
/* line 14, ../development/scss/pavproducttabs.scss */
.producttabs .box-heading > * {
  padding: 0;
  background: none;
}
/* line 18, ../development/scss/pavproducttabs.scss */
.producttabs .box-heading li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}
/* line 27, ../development/scss/pavproducttabs.scss */
.producttabs .box-heading li.active a {
  color: white;
}
/* line 31, ../development/scss/pavproducttabs.scss */
.producttabs .products-row {
  border-bottom: none;
}

/* line 35, ../development/scss/pavproducttabs.scss */
.box-left {
  display: table;
  width: 100%;
}
/* line 38, ../development/scss/pavproducttabs.scss */
.box-left ul {
  width: 50px !important;
  display: table-cell !important;
  vertical-align: middle;
  margin-right: -50px;
}
/* line 44, ../development/scss/pavproducttabs.scss */
.box-left li {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0;
  margin: 100px 0;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
/* line 52, ../development/scss/pavproducttabs.scss */
.box-left li > a {
  position: absolute;
  padding: 0;
  top: -35px;
  left: -40px;
  text-transform: uppercase !important;
  font-size: 16px !important;
  font-weight: bold;
}
/* line 423, ../development/scss/mixins/_app.scss */
.rtl .box-left li > a {
  right: -40px;
  left: auto;
}
/* line 64, ../development/scss/pavproducttabs.scss */
.box-left .tab-content {
  display: table-cell;
  position: relative;
}

/* line 72, ../development/scss/pavproducttabs.scss */
.box-center ul {
  display: table;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 78, ../development/scss/pavproducttabs.scss */
.box-center li {
  float: none;
  display: table-cell;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 335, ../development/scss/mixins/_app.scss */
.rtl .box-center li {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-left: inherit;
}
/* line 82, ../development/scss/pavproducttabs.scss */
.box-center li:first-child {
  border-left: none;
}
/* line 335, ../development/scss/mixins/_app.scss */
.rtl .box-center li:first-child {
  border-right: none;
  border-left: inherit;
}
/* line 85, ../development/scss/pavproducttabs.scss */
.box-center li.active {
  background: #333333;
}

/* line 94, ../development/scss/pavproducttabs.scss */
.sidebar .box-center ul {
  display: table;
  text-align: center;
  width: 100%;
}
/* line 99, ../development/scss/pavproducttabs.scss */
.sidebar .box-center li a {
  padding: 15px 10px;
  color: white;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 108, ../development/scss/pavproducttabs.scss */
  .pav-product-tab .nav-header {
    float: none;
  }
  /* line 111, ../development/scss/pavproducttabs.scss */
  .pav-product-tab .nav.right {
    float: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* line 117, ../development/scss/pavproducttabs.scss */
  .sidebar .producttabs .box-heading a {
    font-size: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 124, ../development/scss/pavproducttabs.scss */
  .pav-product-tab .nav-header {
    float: none;
  }
  /* line 127, ../development/scss/pavproducttabs.scss */
  .pav-product-tab .nav.right {
    float: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* line 133, ../development/scss/pavproducttabs.scss */
  .sidebar .producttabs .box-heading a {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  /* line 140, ../development/scss/pavproducttabs.scss */
  .pav-product-tab .nav-header {
    float: none;
  }
  /* line 143, ../development/scss/pavproducttabs.scss */
  .pav-product-tab .nav.right {
    float: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  /* line 149, ../development/scss/pavproducttabs.scss */
  .sidebar .producttabs .box-heading a {
    font-size: 10px;
  }
}
