body{color:#ffa200}
.pav-verticalmenu{
	position: relative;	
}


.pav-verticalmenu .dropdown-menu > .dropdown-menu-inner {
  padding: 10px;
}
.pav-verticalmenu .mega-group .caret {
  display: none;
}
.pav-verticalmenu .mega-group > .dropdown-toggle {
  display: block;
  font-weight: bold;
  padding: 6px 5px;
  text-transform: uppercase;
  border-bottom: solid 1px #E5E5E5;
}
.pav-verticalmenu .mega-group .dropdown-mega .mega-col-inner > ul > li a {
  margin-left: 6px;
}
.pav-verticalmenu .mega-col .mega-col-inner > ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.pav-verticalmenu .mega-col .mega-col-inner > ul > li {
  list-style: none;
  margin-left: 0;
}
.pav-verticalmenu .mega-col .mega-col-inner > ul > li > a {
  clear: both;
  color: #555555;
  display: block;
  line-height: 20px;
}
.pav-verticalmenu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}
.pav-verticalmenu .dropdown-submenu > .dropdown-menu {
  border-radius: 0 6px 6px 6px;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
}




.widget-product-list img{
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 12px;
}

.widget-banner .w-banner{
 margin: 6px 10px; 
	float: left;
} 


#support_box {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 220px;
  
  border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  -ms-border-radius: 15px 0 0 0;
  -o-border-radius: 15px 0 0 0;
  
  border-left: 1px solid #E75C00;
  border-top: 1px solid #E75C00;
  
  box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  -o-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  -ms-box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
  z-index: 99999999;
  float: left;
  background: #fff;
  }

#support_box > div {
  background: #E75C00 url(../../../../../../../../themes/front/image/coun.png) 5px center no-repeat; 
  padding: 5px 5px 5px 60px;
  cursor: pointer;
  position: relative;
  
  border-radius: 15px 0 0 0;
  -webkit-border-radius: 15px 0 0 0;
  -moz-border-radius: 15px 0 0 0;
  -ms-border-radius: 15px 0 0 0;
  -o-border-radius: 15px 0 0 0;
  }

#support_box > div img {
  position: absolute;
  top: 5px;
  right: 5px;
  }

#support_box > div img.girl {
  top: -200px;
  right: 0px;
}

#support_box > div p {
  font-size: 11px;
  color: #fff;
  }

#support_box > div h3 {
  font-size: 22px;
    color: #fff;
  font-weight: normal;
  font-family: Tahoma, Geneva, sans-serif;
  }

#support_box dl {
  float: left;
  width: 100%;
  margin: 5px;
  display: none;
  }

#support_box dl dt {
  float: left;
  margin-left: 5px;
  }

#support_box dl dt span {
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  }

#support_box dl dd {
  float: right;
  width: 150px;
  font-size: 11px;
  }

#support_box dl dd > * {
  display: block;
  color: #888;
  }

#support_box dl dd p {
  color: #2194d2;
  }

#support_box dl dd p a {
  display: inline-block;
  margin: 0 3px;
  }
  .price-old{
    display: block;
  }