.wait_model {
  background: none repeat scroll 0 0 rgba(250, 200, 30, 0.5);
  bottom: 5px;
  display: none;
  padding: 10px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 288px;
  z-index: 999;
}
/*.............dialog.................*/
#search-panel .alternate {
  border: 1px solid #ccc;
  clear: both;
  height: 25px;
  line-height: 25px;
  list-style: none outside none;
  margin: 10px 1px;
}
#search-panel ul {
  padding: 0;
}
#search-panel .alternate {
    
}
    
#search-panel .alternate .select_btn {
  clear: both;
  float: right;
  line-height: 16px;
}
.link-search-wrapper > label {
  display: block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 19px;
}
.link-search-wrapper .link-search-field {
  height: 20px;
  line-height: 20px;
}
.select_sortable > li,.select_sortable > li.ui-state-highlight {
  background: radial-gradient(#fff, #ccc) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid;
  border-radius: 5px;
  line-height: 20px;
  height:20px;
  cursor:pointer;
  padding: 0 5px;
}
.select_sortable > li.ui-state-highlight{
    border: 1px dotted #FA5882;
    background: none;
}
.select_sortable > li .delete_btn {
  border-radius: 4px;
float: right;
padding: 0 3px;
}
.select_sortable > li .delete_btn:hover{
    background: #fee;
}
td .ico_view,td .ico_edit,td .ico_delete{
    margin:auto 5px;

}
td .ico_view:hover,td .ico_edit:hover,td .ico_delete:hover{
    color:#000;
}
.add_new_item > button {
  background: none repeat scroll 0 0 #f9f9f9;
  color: #000;
  margin-left: 25px;
}
.message_alert{
    color:#f00;
}