*{
	padding:0px;
	margin:0px;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	line-height:18px;
}
img, p, ul{
	border:0px;
}
img{
	max-width:100%;
	height:auto;
}
ul,ol{
	list-style:none;	
}
a{
	text-decoration:none;
	outline: none;
	color:#000;
}
select{
	outline:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
.clear{
	clear:both;
}
.clearfix:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}
.clearfix {
	display:inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
*html .clearfix {
	height: 1%;
}
.text-color{
	color:#e50000;
}
.fontBold{
	font-weight:bold;
}
.colorGreen{
	color:#78a300
}
.colorOrg{
	color:#ff6600
}
table{
	/* table-layout:fixed; */
}
.colorRed{
	color:#ff0000;
}
.MGzero{
	margin:0;	
}
.block{
	display:block;	
}