@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#3b3b3b;
	line-height:18px;
	background:#f7f8fa;
}
#navbarTop{
	background-color:#393a3e;
	border-bottom:1px solid #696d70;
}
#navbarTop .container,#header .container,#navbar .container{
	width:1000px;
	margin:0 auto;
}
#narbarTop-main{
	height:29px;
	overflow:hidden;
	line-height:28px;
	font-size:11px;
}

#narbarTop-main .col-left{
	float:left;
}
#narbarTop-main .col-left li{
	float:left;
	border-right:1px solid #515457;
}
#narbarTop-main .col-left .first{
	border-left:1px solid #515457;
}
#narbarTop-main .col-left a{
	display:block;
	padding:0 10px;
	height:29px;
	color:#cccccc;
}
#narbarTop-main .col-right{
	float:right
}
#narbarTop-main .social,#narbarTop-main .date-time{
	float:left;
}
#narbarTop-main .social{
	margin-left:16px;
}
.social a{
	color:#cccccc;
	background:url(../images/icon-social.png) no-repeat 0 0;
	width: 19px;
	height:18px;
	overflow:hidden;
	float:left;
	margin-top:5px;
	margin-left:6px;
}
.social a.google{
	background-position: -24px 0px;
}
.social a.twitter{
	background-position: -48px 0px;
}
.social a.youtube{
	background-position: -73px 0px;
}

#navbarTop .date-time{
	color:#ccc;
}
#header{
	background:url(../images/bg-header.png) repeat top center;
	border-bottom:1px solid #696d70;
}
#header-main{
	overflow:hidden;
	height: 100px;
}
#header-main  #logo{
	float:left;
	line-height:100px;
	height:100px;
}
#logo a{
	vertical-align:middle;
}
#logo img{
	vertical-align:middle;
	max-height:100px;
}
#header-main .box{
	float:right;
	width:600px;
	height:71px;
	margin-top:15px;
}
#navbar{
	background:#393a3e url(../images/bg-border-navbar.png) repeat-x bottom left;
	margin-bottom:24px;
}
#navbar-main{
	height:45px;
}
#navbar-main li{
	float:left;
	border-right:1px solid #515457;
}
#navbar-main li:hover{
	background-color:#ed1c24;
}
#navbar-main li.first{
	border-left:1px solid #515457;
}
#navbar-main a{
	display:block;
	line-height:40px;
	height:45px;
	padding:0 16px;
	color:#fff;
	font-size:12px;
}
#liveStream{
	width:1000px;
	margin:0 auto;
	margin-bottom: 13px;
}
#liveStream-main{
	min-height:469px;
	/*overflow:hidden;*/
	background-color:#fff;
}
#liveStream .top{
	margin-bottom:8px;
	text-align:center;
}
#liveStream .top div{
	display:inline-block;
	*display:inline;
}
.top .bg-left{
	background:url(../images/bg-live-left.png) no-repeat top left;
	padding-left:50px;
}
.top .bg-right{
	background:url(../images/bg-live-right.png) no-repeat top right;
	padding-right:50px;
}
.top .bg-middle{
	height: 43px;
	overflow:hidden;
	background:url(../images/bg-live-body.png) repeat-x top left;
}
.top .bg-middle div{
	float:left;
	height:43px;
	line-height: 43px;
	text-align: center;
}
.top .bg-middle .club-name{
	min-width:160px;
}
.top .bg-middle .club-logo{
	
}
.top .bg-middle .club-logo{
	height: 43px; 
	min-width:50px;
    *line-height: 43px;
	text-align:center;
	float:left;
}
.top .bg-middle .club-logo:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.top .bg-middle .club-logo img{
    vertical-align: middle;
}
#liveStream .top .sscore{
	width:28px;
	height:28px;
	margin-top:7px;
	background:#eeeeee;
	border:1px solid #dfe0e2;
	border-radius:2px;
	line-height:28px;
	font-weight:bold;
}
#liveStream .top .col-symbol{
	width:10px;
	font-weight:bold;
}
.liveStream-border{
	border:1px solid #dfe0e2;
	padding:8px;
}
.live-video{
	border:1px solid #dfe0e2;
}
/*===========================
CONTENT
============================*/
#content{
	width:1000px;
	margin:0 auto;
	padding-bottom: 32px;
}
#content-main{
	float:left;
	width:739px;
}
#trandau,#nhandinh,#videoClips,#scheduler{
	margin-bottom: 18px;
}
.trandau-main{
	padding-top:6px;
}
#tabNav{
	/* border:1px solid #dfe0e2; */

}
#tabNav .tabNav-block{
	/* overflow:hidden; */
	height:30px;
}
#tabNav li{
	padding:0 21px;
	float:left;
	background:#dfe0e2;
	height:30px;
	line-height:32px;
	font-size:13px;
	color:#666666;
	border-right:1px solid #fff;
}
#tabNav li.active{
	color:#3b3b3b;
	background:#fff;
	border-left:1px solid #dfe0e2;
	border-top:1px solid #dfe0e2;
	border-right:1px solid #dfe0e2;
	line-height:31px;
	position:relative;
	height: 30px;
	bottom: 0px;
	z-index: 100;
}
#trandau #data-main{
	border:1px solid #dfe0e2;
	padding:8px;
	background-color:#fff;
}
#data-main table{
	border:1px solid #fff;
	text-align:center;
}
#data-main td{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	font-size: 12px;
}

#data-main tr.tbHead-one{
	background:#555555;
	color:#fff;
	font-weight:bold;
	font-size:12px;
}
#data-main tr.tbHead-two{
	background:#ed1c24;
	color:#fff;
	font-size:12px;
}
#data-main tr.odd{
	background:#f3f3f3;
}
#data-main td{
	padding: 4px 2px 4px;
}
#data-main .bdNone{
	border:0px;
}

#nhandinh .title-block,#videoClips .title-block,#trandau .title-block,.tivi .title-block,.tintuc .title-block,#hinhanh .title-block,#scheduler .title-block,.nhanhdinh-detail .title-block,.comment .title-block,.similar-fixture .title-block{
	overflow:hidden;
	height:40px;
	background:url(../images/bg-box-border.png) repeat-x bottom left;
}
#hinhanh .title-block{
	position:relative;
}
#nhandinh .H2title,#videoClips .H2title,#trandau .H2title,.tivi .H2title,.tintuc .H2title,#hinhanh .H2title,#scheduler .H2title,.nhanhdinh-detail .H2title,.comment .H2title,.similar-fixture .H2title{
	font-size:16px;
	text-transform:uppercase;
	margin-left: 9px;
	float:left;
	height: 37px;
	border-bottom:3px solid #ed1c24;
	color:#393a3e;
	font-weight:normal;
	line-height:34px;
}
#nhandinh .view-all,#videoClips .view-all{
	float:right;
	padding-right:15px;
	background:url(../images/button-view-all_03.png) no-repeat 100% 50%;
}
#nhandinh .view-all a,#videoClips .view-all a{
	color:#999999;
	font-size:12px;
	line-height:35px;
}
.nhandinh-main{
	padding:10px 0 0;
}
.nhandinh-main .post-item{
	width:359px;
	margin-right:23px;
	float:left;
	padding-bottom:9px;
	/* padding-top: 9px; */
	border-bottom:1px dotted #e3e3e3;
}
.nhandinh-main .H3title{
	font-size:13px;
}
.nhandinh-main .H3title a{
	color:#3b3b3b;
}
.nhandinh-main .focus {
	border-bottom:1px solid #e3e3e3;
	margin-bottom: 9px;
}
.nhandinh-main .focus .H3title{
	color:#3b3b3b;
	font-size:14px;
}
.nhandinh-main .post-date{
	color:#666666;
	font-size:11px;
}

.post-item .thumbnails{
	width:74px;
	height:51px;
	float:left;
	margin-right:9px;
}
.post-item .thumbnails img{
	width:100%;
	height:100%;
}
.focus .thumbnails{
	width:359px;
	height:168px;
	margin:9px 0;
	overflow:hidden;
	float:none;
}
.nhandinh-main .row{
	overflow:hidden;
	width: 764px;
}
/*=====================*/
.videoClips-main{
	padding-top:8px;
	width: 756px;
}
.videoClips-main .row,.hinhanh-main .row{
	overflow:hidden;
	margin-bottom:5px;
}
.videoClips-main .video-item,.hinhanh-main .hinhanh-item{
	width:171px;
	float:left;
	margin-right:18px;
	overflow:hidden;
}
.videoClips-main .video-item{
	height:194px;
}
.videoClips-main .video-item:hover{
	border-bottom:3px solid #ed1d25;
	height:191px;
}
.video-item .video-thumbnails,.hinhanh-item .hinhanh-thumbnails{
	width:171px;
	height:129px;
	overflow:hidden;
}
.video-item .video-thumbnails{
	position: relative;
}
.video-thumbnails .overlayPlay{
	width:100%;
	height:100%;
	position:absolute;
	background:url(../images/bg-video_03.png) no-repeat center center transparent;
}
.video-item .video-thumbnails img,.hinhanh-item .hinhanh-thumbnails img{
	width:100%;
	height:auto;
}
.video-item .H3title{
	padding: 5px 0;
}
.video-item .H3title a{
	font-size:13px;
	font-weight:normal;
	color:#393a3e;
	
}
.video-item .H3title a:hover{
	color:#ed1c24;
}
#btSlide{
	float:right;
	margin-top: 16px;
}
#btSlide a{
	float:left;
	width:9px;
	height:9px;
	background:#cccccc;
	margin-left:8px;
	line-height: 35px;
}
#btSlide .active{
	background:#ed1d25;
}
.hinhanh-main{
	padding-top:8px;
	width:739px;
}
.hinhanh-main .imagesTop{
	margin-bottom:15px;
}
.imagesTop .col-left {
	float:left;
	height:273px;
	width: 210px;
	padding:20px 25px;
	background:#393a3e;
	color:#cccccc;
	text-align:justify;

}
.hinhanh-thumbnails-top{
	float:left;
}
.col-left .H3title{
	margin-bottom:15px;
}
.col-left .H3title a{
	color:#ff9900;
	font-size:18px;
}
.hinhanh-main .imagesBody{
	width:756px;
}
.hinhanh-main .hinhanh-item{
	background:#7e7e7e;
	height:194px;
}
.hinhanh-main .hinhanh-item:hover{
	background:#ed1c24;
}
.hinhanh-main .hinhanh-item .H3title{
	padding:5px 10px;
	color:#ffffff;
	font-size:13px;
	font-weight:normal;
}
/*========================
SIDEBAR
=========================*/
.sidebar{
	float:right;
	width:237px;
}
.tivi{
	margin-bottom:13px;
}
.tivi .title-block,.tintuc .title-block,.similar-fixture .title-block{
	margin-bottom:6px;
}
.tivi-main{
	border:1px solid #dfe0e2;
	padding: 6px 10px 6px 9px;
	background-color:#fff;
	width: 216px;
}
.tivi-main .row{
	overflow:hidden;
	padding: 4px 0;
	width:100%;
}
.tivi-main .tivi-item{
	width:70px;
	height:32px;
	overflow:hidden;
	margin:0 1px;
	float:left
}
.tivi-main .tivi-item a{
	display:block;
	border:1px solid #dfe0e2;
	height:30px;
}
.tivi-main .tivi-item img{
	width:100%;
	height:100%;
}
.tintuc,.similar-fixture{
	margin-bottom:26px;
}
.tintuc-main{
	border:1px solid #e1e2e4;
	background:#f1f1f1;
	padding-bottom: 11px;
}
.tintuc-main li{
	padding: 9px 15px 8px 17px;
	border-top:1px solid #fff;
	background: url(../images/bullet-tintuc.png) no-repeat 9px 16px;
	line-height: 16px;
}
.tintuc-main .first{
	border-top:0px;
}
.tintuc-main li a{
	line-height:16px;
	color:#393a3e;
}
.tintuc-main li a:hover{
	color:#ed1c24;
}
.quangcao{
	margin-bottom:5px;
}
.quangcao-item{
	padding-bottom:9px;
}
/*====================
FOOTER
======================*/
#footer{
	background:url(../images/bg-footer.jpg) repeat top left;
	border-top:3px solid #ed1c24;	
	border-bottom:1px solid transparent;
}
#footer-main{
	width: 1000px;
	margin:0 auto;
	padding-top:18px;
	overflow: hidden;
}
#footer-main .row{
	overflow:hidden;
	margin-bottom:10px;
	width: 1040px;
}
#footer-main .widget{
	width:222px;
	margin-right:38px;
	float:left;
}
#footer-main .widget .H2title{
	color:#fff;
	font-weight:normal;
	font-size:13px;
	text-transform:uppercase;
	margin-bottom:8px;
}
.widget-main li{
	padding:5px 0 4px 12px;
	border-top:1px solid #717070;
	background: url(../images/bullet-widget.jpg) no-repeat 0 12px;
}
.widget-main .first{
	border-top:none;
}
.widget-main li a{
	color:#cccccc;
}
#copyright{
	border-top:4px solid #393a3e;
	padding:15px 0;
	text-align:center;
}
#copyright p{
	color:#999999;
}
/*=========================
PAGE TRỰC TIẾP BÓNG ĐÁ
==========================*/
#scheduler .title-block{
	margin-bottom:10px;
}
#scheduler-main{
	border:1px solid #dfe0e2;
	padding:8px;
	background-color:#fff;
}
#list-data-football{
	text-align:center;
}
#list-data-football,#list-data-football tr,#list-data-football td{
	border:1px solid #fff;
}
#list-data-football td{
	height:47px;
}
#list-data-football .tbcol-1{
	width:13%;
}
#list-data-football .tbcol-2,#list-data-football .tbcol-6{
	width:11.5%;
}
#list-data-football .tbcol-3,#list-data-football .tbcol-5{
	width:22.68%;
}
#list-data-football .tbcol-7{
	width:5.95%;
}
#list-data-football .tbcol-3,#list-data-football .tbcol-4,#list-data-football .tbcol-5{
	border:0px;
}
#list-data-football .tbHead-one{
	background-color:#555555;
	color:#fff;
	font-weight:bold;
}
#list-data-football .tbHead-one td,#list-data-football .tbGiaiDau td{
	height:26px;
}
#list-data-football .date{
	text-align:left;
	padding-left:14px;
}
#list-data-football .tbGiaiDau{
	background-color:#ed1c24;
	text-transform:uppercase;
	color:#fff;
	text-align:left;
}
#list-data-football .tbGiaiDau td{
	padding-left:14px;
}
#list-data-football tr.odd{
	background-color:#f3f3f3;
}
#list-data-football tr .bdNone{
	border:0;
}
#list-data-football .view-detail{
	background:url(../images/icon-tructiep_06.png) no-repeat 50%;
	display:block;
}
#list-data-football tr:hover .view-detail{
	background:url(../images/icon-tructiep_10.png) no-repeat 50%;
}
/*==============================
PAGE NHẬN ĐỊNH CHI TIẾT
==============================*/
.nhanhdinh-detail{
	margin-bottom:18px;
}
.nhanhdinh-detail .title-block{
	margin-bottom:10px;
}
.articles{
	padding: 14px 18px 18px;
	border:1px solid #dfe0e2;
	background-color:#fff;
}
.articles p{
	line-height:18px;
	margin-bottom: 14px;
}
.articles .artHead{
	margin-bottom:15px;
}
.artHead .H1title{
	font-size:18px;
	color:#3b3b3b;
}
.artHead .meta{
	font-size:12px;
	color:#666666;
	margin-bottom: 9px;
}
.artBody{
	width:100%;
}
.artBody .artContent{
	width:480px;
	float:left;
	margin-right: 25px;
	padding-bottom:15px;
}
.artBody .col-right{
	float:left;
	width:196px;
}
.similar-articles{
	border:1px solid #e0e1e3;
	padding:12px;
	margin-bottom:10px;
}
.similar-articles .similar-title{
	font-size:14px;
	text-transform:uppercase;
}
.similar-main li{
	border-top:1px solid #f2f1f1;
	font-size:13px;
	line-height:16px;
	padding: 9px 0 8px 9px;
	background: url(../images/bullet-similar_06.gif) no-repeat 0px 15px;
}
.similar-main li.first{
	border:0;
}
.similar-main li a:hover{
	color:#ed1c24;
}
.artFooter {
	border-top: 1px solid #ebebeb;
	padding-top:18px;
}
.artFooter .pluginSocial{
	float:left;
}
.artFooter .shareBox{
	float:right;
}
.shareBox a{
	float:left;
	background:url(../images/icon-comment_03.gif) no-repeat top left;
	width:32px;
	height:22px;
	margin-left:5px;
}
.shareBox a.icoLike{
	background:url(../images/icon-share-box_05.gif) no-repeat top left;
}
.comment .title-block{
	margin-bottom:10px;
}
.comment-main{
	border:1px solid #dfe0e2;
}
.comment-main .commented{
	background-color:#fff;
	padding:18px 18px 35px;
}
.reader-item{
	border-bottom:1px dotted #cccccc;
	padding-bottom:12px;
}
.reader-item .info{
	margin-bottom:5px;
}
.reader-item .name{
	font-weight:bold;
}
.reader-item .date-post{
	color:#999999;
}
.inputComment{
	background-color:#f8f8f8;
	padding:11px 18px;
}
.inputComment textarea{
	width:100%;
	height:71px;
	border-radius:3px;
}
.inputComment .note{
	float:left;
	margin-top:8px;
}
.inputComment .btSumbit{
	float:right;
	margin-top:8px;
	background-color:#575b5e;
	width:52px;
	height:26px;
	border:0;
	border-radius:2px;
	cursor:pointer;
}
/*=================================
PAGE TRỰC TIẾP CHI TIẾT
==================================*/
.liveDetail-top{
	border:1px solid #dfe0e2;
	background-color:#fff;
	padding:1px;
	width:auto;
	height:96px;
	overflow:hidden;
	margin-bottom:10px;
}
.liveDetail-top table{
	height:100%;
}
.liveDetail-top .leagueTour{
	text-align:center;
	font-size:12px;
	line-height:18px;
	color:#ed1c24;
	text-transform:uppercase;
}
.liveDetail-top .time{
	text-align:center;
	font-size:12px;
	color:#666666;
}
.liveDetail-top .club-logo{
	width:18.39%;
}
.liveDetail-top .club-logo img{
	height:77px;
	width:auto;
}
.club-logo.club-home{
	padding-left:10px;
	text-align:left;
	background: #eeeeef url(../images/bg-club-left_03.png) no-repeat center right;
}
.club-logo.club-away{
	padding-right:10px;
	text-align:right;
	background:#eeeeef url(../images/bg-club-right_03.png) no-repeat left center;
}
.liveDetail-top .club-name{
	width:21.39%;
	text-transform:uppercase;
	font-weight:bold;
}
.club-name.club-home{
	text-align:right;
}
.club-name.club-away{
	text-align:left;
}
.liveDetail-top .sscore-block{
	text-align:center;
	vertical-align:middle;
}
.liveDetail-top .sscore-block div{
	display:inline-block;
	*display:inline;
	zoom:1;
}
.liveDetail-top .sscore{
	height:26px;
	width:26px;
	border:1px solid #e2e3e4;
	border-radius:2px;
	text-align:center;
	line-height:26px;
	background:#eeeeee;
	font-weight:bold;
}
.liveDetail-top .league-logo{
	width:45px;
	text-align:center;
}
.liveDetail-top .league-logo img{
	vertical-align:middle;
	height:38px;
}
.liveDetail-stream{
	padding:8px;
	border:1px solid #dfe0e2;
	background-color:#fff;
	margin-bottom:23px;
}
.liveDetail-main{
	width:100%;
}
.tabFixture{
	height:30px;
	position:relative;
	width:100%;
}
.tabFixture ul{
	
}
.tabFixture ul li{
	background:#dfe0e2;
	float:left;
	height:29px;
	line-height:30px;
	margin-right:1px;
	border:1px solid #dfe0e2;
}
.tabFixture ul .selected{
	border-bottom-color:#fff;
	background:#fff;
}
.tabFixture ul li a{
	font-size:13px;
	color:#666666;
	padding:0 20px;
	display:block;
}
.liveDetail-main-block{
	border:1px solid #dfe0e2;
	padding:8px;
	background-color:#fff;
	min-height: 1083px;
}
.tbFixture td{
	padding:8px 0 9px;
}
.tbFixture .odd{
	background:#fff;
}
.tbFixture .even{
	background:#f6f7f7;
}
.tbFixture .tbcol-1,.tbFixture .tbcol-2,.tbFixture .tbcol-3{
	width:32px;
	padding-left:6px;
	text-align:left;
}
/*===========================
PAGE TIVI
===========================*/
#content-main.page-tivi{
	width:480px;
	overflow:hidden;
}
.sidebar.left{
	float:left;
	margin-right:23px;
}
#page-tivi-main .channel-title{
	background:#fff;
	border:1px solid #dfe0e2;
	font-size:12px;
	color:#ed1c24;
	text-align:center;
	line-height:24px;
	height:25px;
	margin-bottom:7px;
}
.channel-container{
	padding:8px;
	border:1px solid #dfe0e2;
	background:#fff;
	margin-bottom:0
}
.channel-container .vd-stream{
	width:100%;
	heigt:373px;
	overflow:hidden;
}
#page-tivi-main .pluginSocial{
	padding:7px;
	margin-bottom:16px;
}
#page-tivi-main .pluginChat{
	width:100%;
	height:400px;
	overflow:hidden;
	margin-bottom:23px;
}
#page-tivi-main .channel-info{
	border:1px solid #dfe0e2;
	padding:17px;
	width:auto;
	background:#fff;
	text-align:justify;
}
.channel-info .images-top{
	float:left;
	margin-right:14px;
	margin-bottom:18px;
}
.channel-info p{
	margin-bottom:14px;
}
.similar-fixture-item .matchTop{
	overflow:hidden;
	height:26px;
	line-height:26px;
	background:#f3f3f3;
	padding:0 7px 0 11px;
}
.matchTop .time{
	float:left;
	font-weight:bold;
}
.matchTop .watch-block{
	float:right;
	height: 26px;
	*padding-top:5px;
}
.matchTop .watch-block a{
	display:inline-block;
	*display:inline;
	zoom:1;
}
.watch-block a.watch-match{
	background:url(../images/icon-tructiep_03.png) no-repeat top left;
	width:15px;
	height:13px;
	margin-right: 5px;
}
.watch-block a.watch-detail{
	background:url(../images/icon-tructiep_06.png) no-repeat top left;
	width:11px;
	height:10px;
}
.similar-fixture-main{
	background:#fff;
	border:1px solid #dfe0e2;
	padding:12px;
}
.similar-fixture-item .match-main{
	height:32px;
	background:#fff;
	overflow: hidden;
}
.similar-fixture-item .match-main div{
	float:left;
	line-height:32px;
}
.match-main .club-name{
	width:98px;
	overflow:hidden;
}
.match-main .vs{
	width:15px;
	padding:7px 0
}
.match-main .away{
	text-align:right;
}